  * {
    cursor: url('assets/catcursor.png'), auto;
  }
  
  .room {
    text-align: center;
  }
  
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
    color: #61dafb;
  }
  
  .gif-container {
    position:absolute;
    width: 100%;
  }
  
  .doraemon {
    width: 25%;
    height: 25%;
  }
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }